<% provide(:title, @user.user) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<%= image_tag @user.image_url(:thumb) if @user.image? %>
        <%= @user.user %>
      </h1>
    </section>
  </aside>
  <div class="span8">